html,body{

height:100%;

margin:0px;

padding:0px

}



BODY 

/*{		SCROLLBAR-FACE-COLOR: #27343B;   

			SCROLLBAR-HIGHLIGHT-COLOR: #324553; 

	      	SCROLLBAR-SHADOW-COLOR: #000000; 

			SCROLLBAR-3DLIGHT-COLOR: #000000; 

    	  	SCROLLBAR-ARROW-COLOR: #99CCCC;

			SCROLLBAR-TRACK-COLOR: #181515;

			SCROLLBAR-DARKSHADOW-COLOR: #181616; 

}*/

	  

{

    cursor: url(css/images/cursor.cur) , default;

	background-image: url(images/bg.jpg);

    background-position: top center;

    background-repeat: no-repeat;

	background-attachment: fixed;

}





a { 	text-decoration:underline; color:#FFFFFF; 

	font-family: "Verdana", Courier, mono;

	font-size:11px;

	font-weight:none;}

a:visited { text-decoration: underline; color:#FFFFFF; }

a:hover { text-decoration:none; color:#C9C9C9; }

	

{ cursor: url(images/cursor.cur), default;

/* cursor: url(cursor_link1.ani), crosshair; */}



@font-face {

    font-family: 'MagistralCBold';
    src: url('fonts/mgs65-magistralCBold.eot');
    src: url('fonts/mgs65-magistralCBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/mgs65-magistralCBold.woff') format('woff'),
         url('fonts/mgs65-magistralCBold.ttf') format('truetype'),
         url('fonts/mgs65-magistralCBold.svg#MagistralCBold') format('svg');

}

@font-face {
    font-family: 'playregular';
    src: url('fonts/play-regular-webfont.eot');
    src: url('fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/play-regular-webfont.woff') format('woff'),
         url('fonts/play-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'etelka_text_proregular';
    src: url('fonts/etelkatextpro-webfont.eot');
    src: url('fonts/etelkatextpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/etelkatextpro-webfont.woff') format('woff'),
         url('fonts/etelkatextpro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.style1 {font-family: 'playregular', Verdana, Arial, Helvetica, sans-serif; font-size: 40px; color: #FFFFFF;}

.style2 {font-family: 'playregular', Verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #FFFFFF;}

.style3 {font-family: 'playregular', Verdana, Arial, Helvetica, sans-serif; font-size: 35px; color: #FFFFFF;}

.style4 {font-family: 'playregular', Verdana, Arial, Helvetica, sans-serif; font-size: 30px; color: #FFFFFF;}

